:root {
    --fundo: #967fff;
    --cartao-frente: #6c54e2;
    --cartao-verso: #207fb2;
    --destaque: #0c8db0;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
}

footer {

    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}